// 🎨 Colors
$color-primary: #3a6a59;
$color-primary-dark: #2c5042;
$color-primary-light: #f6f0e7;
$color-text: #535e4b;
$color-heading: #31352e;
$color-danger: #ff4d4d;
$color-danger-dark: #cc0000;
$color-success: #4caf50;
$color-neutral: #f1f1f1;
$color-hover: rgba(58, 106, 89, 0.92);
$color-hover-light: rgba(58, 106, 89, 0.137);
$color-highlight: rgba(65, 187, 144, 0.137);
$color-border: #ddd;
